/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.user{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid;
    object-fit: cover;
}

.content {
    background-color: darkkhaki;
    border: 5px solid;
    margin: auto;
    margin-top: 100px;
    width: 500px;
  
    border-radius: 25px;
    padding-bottom: 15px;
}

.encabezado {
    margin-top: 25px;
    align-items: center;
    margin-left: 15px;
    display: flex;
    border-bottom: 1PX solid;
    margin-right: 15PX;
}

.icono {
    text-align: center;
}

.izquierda {
    width: 80%;
}

.derecha {
    width: 20%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;

}

.label-tarea {
    font-size: 20px;
    margin-left: 15px;
    




}

.input-tarea {
    margin-top: 20px;
    width: 350px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 15px;


}

.contain-tareas {
    margin-top: 15px;
    margin: auto;
    width: 450px;
  
    border: 1px solid;
    border-radius: 15px;
    
}

.tarea {
    display: flex;
    margin: auto;
    width: 400px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
}

.tarea:hover {
    transform: scale(1.05);
    /* Aumenta el tamaño al 120% */
    transition: transform 0.4s ease;
    /* Transición suave */
}
.id-tareas{
    width: 10%;
 
      padding: 10px;
}

.description-tarea {
    text-align: start;
    width: 70%;
    padding: 10px;
    text-transform: uppercase;
    


}

.icon-delete {
    padding: 10px;
    text-align: center;
    width: 20%;
    color: red;
}

.cantidad-tareas {
    display: flex;
    margin-left: 20px;
    padding-left: 15px;
  
}